*{
    box-sizing:border-box;
  }
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
  body{
    font-family: 'Roboto', sans-serif;
    font-size:10px;
    padding:20px;
  }
  h1{
    font-size:2em;
    line-height:1.8;
  }
  form{
    width: 352px;
  }
  input[type=text],input[type=tel],input[type=email],input[type=date]{
    padding:0 18px;
    height: 44px;	
    width: 100%;	
    border: 1px solid #DADADA;
    margin-bottom:20px;
  }
  label{
    font-size:1.4em;
    line-height:1.8;
  }
  button{
    height: 44px;
    border:0;
    width: 160px;
    color:#fff;
    background:#2773CB;
    float:right;
  }